.not-found {
  text-align: center;
}

.not-found__title {
  font-size: 5rem;
  font-weight: bold;
  color: #dd1c1a;
  margin-bottom: 2rem;
}

.not-found__message {
  font-size: 3rem;
  font-weight: bold;
}
